[run]
source = .
omit = ./virt_env/*,*test*,*apps.py,*manage.py,*migrations*,*asgi*,*wsgi*,*admin.py

[report]
omit = ./virt_env/*,*test*,*apps.py,*manage.py,*migrations*,*asgi*,*wsgi*,*admin.py
show_missing = True
